* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
} */





/*! Common or Shared Styles Start */

/* Google Fonts Styles Start */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Google Fonts Styles End */

:root {
  --primary-color: #FF0000;
  --secondary-color: #070211;
  --accent-color: rgba(7, 2, 17, 0.6);
  --background-color: #f4f4f4;
  --text-color: #333333;
}

.section-margin-bottom{
  margin-bottom: 120px;
}

/*! Common or Shared Styles End */






/** main section styles start */
.main-section {
  padding: 50px 0 120px 0;
  max-width: 1320px;
  margin: 0 auto;
}

/* banner section styles start */
.banner-section {
  text-align: center;
  padding: 20px;
}

.banner-section-content {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.banner-section-content-image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.banner-section-content-image img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  display: block;
}

.banner-section-content-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.banner-section-content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-section-content-text h5 {
  font-size: 32px;
  margin-bottom: 16px;
}

.banner-section-content-text h2 {
  font-size: 72px;
  font-weight: 900;
}
/* banner section styles  end */

/* categories section styles start */
.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  text-align: center;
}
.categories-section h2 {
  color: var(--primary-color);
  font-size: 88px;
  font-weight: 700;
}
.categories-section p {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 16px;
}
  .categories-section h3 {
    font-size: 48px;
    font-weight: 700;
    color: var(--secondary-color);
  }
/* categories section styles  end */

/* party section styles  start */
.party-section-content{
  position: relative;
  color: #ffffff;
}

.party-section-content-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.party-section-content-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.party-section-content-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.party-section-content-text-right{
  width: 700px;
}

.party-section-content-text-right h3{
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}
.party-section-content-text-right p{
  font-size: 16px;
  margin-bottom: 48px;
}

.party-section-button {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  margin-left: 32px;
}
/* party section styles  end */

/* place section styles  start */
.place-section-content{
  background: linear-gradient(180deg, rgba(255, 0, 0, 10%) 0%, rgba(255, 0, 0, 0%) 100%);
  text-align: center;
  padding: 100px 0;
  border-radius: 16px;
}
.place-section-content h4 {
  font-size: 32px;
  font-weight: 600;
  color: var(--secondary-color);
  line-height:56px;
  margin-bottom: 48px;
}
.place-section-content span{
  color: var(--primary-color);
}
.place-section-content-button{
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
}
/* place section styles  end */

/* offer section styles  start */
.offer-section-content{
  display: flex;
  align-items: center;
  gap: 70px;
}
.offer-section-content-text-left{
  width: 393px;
  text-align: start;
}
.offer-section-content-text-left h4{
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: auto;
  margin-bottom: 16px;
}
.offer-section-content-text-left h2{
  font-size: 48px;
  font-weight: 900;
  color: var(--secondary-color);
  line-height: auto;
  margin-bottom: 22px;
}
.offer-section-content-text-left p{
  font-size: 20px;
  color: var(--accent-color);
  line-height: 32px;
}
.offer-section-content-image-center{
  height: 463px;
  width: 463px;
  border: 15px solid var(--primary-color);
  /* border-radius: 5000px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-section-content-text-right{
  width: 276px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 48px;
}
.offer-section-content-text-right h2{
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: auto;
  margin-bottom: 16px;
}
.offer-section-content-text-right p{
  font-size: 20px;
  color: var(--accent-color);
  line-height: 32px;
  margin-bottom: 43px;
}
/* offer section styles  end */

/* discount section styles  start */
.discount-section-content-text{
  text-align: center;
}
.discount-section-content-text h4{
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: auto;
  margin-bottom: 16px;
}
.discount-section-content-text h2{
  font-size: 72px;
  font-weight: 900;
  color: var(--secondary-color);
  line-height: auto;
  margin-bottom: 28px;
}
.discount-section-content span{
  color: var(--primary-color);
}
.discount-section-content-text p{
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
  line-height: 32px;
  margin-bottom: 64px;
}
.discount-section-content-image {
  position: relative;
  height: 662px;
}
.discount-section-content-image-background{
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.discount-section-content-image-left{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.discount-section-content-image-left img{
  width: 100%;
  height: auto;
}
.discount-section-content-image-right{
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
}
/* discount section styles end */

/* gift section styles start */
.gift-section-content-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: auto;
  margin-bottom: 16px;
}
.gift-section-content-text h3 {
  font-size: 48px;
  font-weight: 900;
  color: var(--secondary-color);
  line-height: auto;
  margin-bottom: 22px;
}
.gift-section-content-text p {
  font-size: 20px;
  color: var(--accent-color);
  line-height: 32px;
  margin-bottom: 48px;
}
.gift-section-content-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
/* .gift-section-content-image img{
  width: calc(33.33% - 24px);
  height: auto;
  border-radius: 16px;
} */
/* gift section styles end */

/* newsletter section styles start */
.newsletter-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 0, 0, 5%);
  padding: 80px 0;
  border-radius: 16px;
}
.newsletter-section-content img{
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.newsletter-section-content h3{
  font-size: 48px;
  font-weight: 900;
  color: var(--secondary-color);
  line-height: auto;
  margin-bottom: 22px;
}
.newsletter-section-content p{
  font-size: 20px;
  color: var(--accent-color);
  line-height: 32px;
  margin-bottom: 48px;
}
.newsletter-section-content form{
  display: flex;
}
.newsletter-section-content form input[type="email"]{
  padding: 25px 477px 25px 30px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: auto;
  border-radius: 50px 0 0 50px;
}
.newsletter-section-content form input[type="email"]:focus{
  outline: none;
}
.newsletter-section-content form input[type="submit"]{
  padding: 24px 56px;
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: auto;
  cursor: pointer;
}
/* newsletter section styles end */

/** main section styles end */
